/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
}

.numbers {
    width: 100px;
    height: 100px;

    font-size: 50px;
    padding-left: 15px;
}

.numbers-container,
#input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}